.row{
    display: flex;
    position: relative;
}
.box0{
    width: 100%;
    height: 100%;
    background-color: rgb(100, 89, 89);
    /* border-style: solid;     */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.box0:hover{
    cursor: pointer;
    -webkit-box-shadow:inset 0px 0px 0px 1px rgb(57, 58, 58);
    -moz-box-shadow:inset 0px 0px 0px 1px rgb(57, 58, 58);
    box-shadow:inset 0px 0px 0px 1px rgb(57, 58, 58);
}
.box1{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 190);
    /* border-style: solid; */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.box1:hover{
    cursor: pointer;
    -webkit-box-shadow:inset 0px 0px 0px 1px rgb(57, 58, 58);
    -moz-box-shadow:inset 0px 0px 0px 1px rgb(57, 58, 58);
    box-shadow:inset 0px 0px 0px 1px rgb(57, 58, 58);
}
.box2{
    width: 100%;
    height: 100%;
    background-color: blue;
    /* border-style: solid; */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    
}
.box9{
    width: 100%;
    height: 100%;
    background-color: red;
    /* border-style: solid; */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.box5{
    width: 100%;
    height: 100%;
    background-color: rgb(170, 255, 155);
    /* border-style: solid; */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.box6{
    width: 100%;
    height: 100%;
    background-color: rgb(38, 255, 0);
    /* border-style: solid; */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.socialBT{
    display: -webkit-inline-box;
}
